.root {
		-fx-background-image: url("fabric1.jpg");
		-fx-background-repeat: repeat;   
		-fx-background-size: 100 100;
		-fx-background-position: center center;
}

.label {
		-fx-font-size: 14px ;
		-fx-font-weight: bold;
		-fx-text-fill: #FFFFFF;
}

#welcome-text {
		-fx-font-size: 20px ;
		-fx-font-weight: bold;
		-fx-fill: white;
		-fx-stroke: black;
		-fx-stroke-width: 0.8;
}

.button {
       -fx-text-fill : white ;
       -fx-font-family : "Arial Narrow" ;
       -fx-font-weight : bold ;
       -fx-background-color : linear-gradient(#61a2b1, #2A5058) ;
       -fx-effect : dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1) ;
}

.button:hover {
    -fx-background-color : linear-gradient(#2A5058, #61a2b1);
}