/*ogólne reguły*/
body {
  background-color: white;
  padding: 0;
  margin: 0;
}
div {
  padding: 0;
  margin: 0;
}
p {
  padding: 10pt;
}
#header {
  background-color: green;
  text-align: center;
  float: top;
}
#menu {
  background-color: orange;
}
#content1 {
  background-color: blue;
  text-align: justify;
}
#content2 {
  background-color: yellow;
  text-align: justify;
}
#footer {
  background-color: blue;
  text-align: center;
}
/*duży ekran*/
@media screen and (min-width: 1024px) {
  #menu {
    width: 20%;
    float: left;
    clear: both;
  }
  #content1 {
    width: 40%;
  }
  #content2 {
    width: 40%;
  }
  #footer {
    float: top;
    clear: both;
  }
}
/*średni i duży ekran*/
@media screen and (min-width: 800px) {
  #content1 {
    float: left;
  }
  #content2 {
    float: left;
  }
  #footer {
    float: top;
    clear: both;
  }
}
/*średni ekran*/
@media screen and (min-width: 800px) and (max-width: 1023px) {
  #content1 {
    width: 50%;
    clear: both;
  }
  #content2 {
    width: 50%;
  }
}
/*mały i średni ekran*/
@media screen and (max-width: 1023px) {
  #menu {
    width: 100%;
    float: top;
    clear: both;
  }
}
/*mały ekran*/
@media screen and (max-width: 799px) {
  #content1 {
    width: 100%;
    float: top;
    clear: both;
  }
  #content2 {
    width: 100%;
    float: top;
    clear: both;
  }
  #footer {
    display: none;
  }
}
.mini-banner {
  width: 100px;
  border: 1px solid black;
}
.mini-banner p {
  padding: none;
  margin: none;
  font-weight: bold;
}
.mini-banner .first {
  color: blue;
}
.mini-banner .second {
  color: blue;
}
.mini-banner .third {
  color: #000080;
}
