#form-container {
    
    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    
    
    /*
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    */
    
    border: 1px solid #000;
    border-radius: 20px;
    width: 400px;
    height: 250px;
    box-shadow: 2px 2px 3px 3px #BBB;
    background: linear-gradient(#EEE, #AAA);
    
    text-align: center;
}

.heading {
      
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0px 0px 0px;
    font-family: "Segoe UI";
}

#clock {
    margin: 0px 0px 10px 0px;
    font-family: "Segoe UI";       
}

#progressbar_holder {
	
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
}

.ui-progressbar, .ui-progressbar-value { height: 15px; }

#response { margin: 10px 0px 0px; }

form { text-align: center; }

input { width: 200px; }

.input-label, .input-actual { float: left; margin: 5px; }
.clear { clear: both; }

.input-label { width: 125px; text-align: right; }
.input-label label { vertical-align: middle; }

.input-container { display: inline-block;  }