body {
    
    margin: 0;
    background: url("fabric2.jpg");
    background-size: 15%;
    background-repeat: repeat;
  
}

@media (max-width: 1000px) {
    body {
        background-color: darkred;
    }
}
    

#header {
    width: 100%;
    color: white;
    position: fixed;
    border-bottom: 1px solid #000;
    background: linear-gradient(#006AFF, #4B4C4D);
    padding: 10px;
    font-weight: bold;
    opacity: 0.75;
    z-index: 20;
}

#header_menu_list{
    
    list-style-type: none;   
    
}

#header_menu_list li{
    
    display: inline-block;
    margin: 10px;
    transition: transform .3s ease-in-out;
    
}

#header_menu_list li:hover {
    transform: rotate(30deg);
}



button { display: inline-block; }

#main_page {
    
    position: absolute;
    top: 80px;
    padding: 20px;
}

#lista li { margin-left: -30px; }
#lista li:first-child { font-weight: bold; }
#lista li:nth-child(3) { font-style: italic; color: blue; }
#lista li:last-child { color: red; }

#chess, #some_table, #some_list, #some_form, #some_image, #some_input, #some_gradient {
    
    margin: 50px;
    border: 1px solid #000;
    border-radius: 20px;
    background-color: darkslategray;
    float: left;
    padding: 20px;

}

#chessmaster tbody tr td { width: 20px; }
#chessmaster tbody .odd_row td:nth-child(odd) { background-color: white; }
#chessmaster tbody .odd_row td:nth-child(even) { background-color: black; }
#chessmaster tbody .even_row td:nth-child(odd) { background-color: black; }
#chessmaster tbody .even_row td:nth-child(even) { background-color: white; }
#chessmaster { transition: transform .5s ease-in-out; }
#chessmaster:hover { transform: rotate(360deg); }

.custom_button {
    
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 10px; 
    border: 3px solid;
    background-color: grey;
    border-left-color: lightgray;
    border-top-color: lightgray;
    border-right-color: #606060;
    border-bottom-color: #606060;
    border-radius: 10px;
    transition: all .2s ease-in;
    
    
}

.custom_button:hover {

    border-left-color: #606060;
    border-top-color: #606060;
    border-right-color: lightgray;
    border-bottom-color: lightgray;
    
}

#some_input textarea {
    color: chartreuse;
    background-color: black;
    resize: none;
    border: none;
}

#inner_gradient {
    
    width: 350px;
    height: 150px;
    background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
    
}
.clear { clear: both; }