.playCell {
    width: 30px;
    height: 30px;
}
body {
    text-align: center;
}
table {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    border: 0 solid gray;

}

td {
    border: 1px solid gray !important;
}