<div class="row">
    <div class="col-md-offset-4 col-md-4">
        Dodawanie produktów<br/>
        <!--<pre>{{ctrl.product | json}}</pre>-->
        <form ng-submit="ctrl.addProduct()" name="addProduct" novalidate>
            <!-- zawsze towrzy swoj wewnetrzy controller -->
            <label> Name
                <input ng-model="ctrl.product.name" name="name" ng-model-options="{ updateOn: 'blur' }" minlength="3">
            </label>
            <span ng-show="addProduct.name.$error.minlength">Wprowadz minimum 3 znaki</span>
            <label> Price
                <input required="required" type="number" ng-model="ctrl.product.price" name="price">
            </label>

            <span ng-show="addProduct.price.$error.number">Wprowadz cyfre</span>
            <span ng-show="addProduct.price.$error.required">Podaj cene</span>
            <button class="btn btn-success" type="submit" ng-show="addProduct.$valid">Save Product</button>
        </form>
        <span>Name: <span ng-bind="ctrl.product.name"></span></span><br/>
        <span>Price: <span ng-bind="ctrl.product.price"></span></span>
    </div>
</div>