<div class="row">
    <div data-product-line></div>
    <div class="col-lg-12">
        <h2>Produkty</h2>
        <button data-ng-click="ctrl.toggleVis()" data-ng-bind="ctrl.textVar">Pokaż</button><br/>
    </div>
    <table border="1" ng-show="ctrl.showVar">
        <tr><td>Name</td><td>Price</td><td>Date Added</td><td colspan="3">Action</td></tr>

        <tr ng-repeat="product in ctrl.products">
            <td><span ng-bind="product.name | limitTo:5 | toUppercase"></span></td>
            <td><span ng-bind="product.price | currency"></span></td>
            <td><span ng-bind="product.date | date"></span></td>
            <td><button data-ng-click="ctrl.showProduct(product.id)">Show</button></td>
            <td><button data-ng-click="ctrl.editProduct($index)">Edit</button></td>
            <td><button data-ng-click="ctrl.delProduct(product.id)">Delete</button></td>
        </tr>
    </table>
    <button data-ng-show="ctrl.anyLessPages()" data-ng-click="ctrl.previousPage()">Previous button</button>
    Total pages: <span data-ng-bind="ctrl.totalPages"></span>
    / Current page: <span data-ng-bind="ctrl.pagePagin + 1"></span>
    <button data-ng-show="ctrl.anyMorePages()" data-ng-click="ctrl.nextPage()">Next page</button>
    <div>
        <form ng-submit="ctrl.editProduct()" name="editProduct" novalidate>
            Id: <span ng-bind="ctrl.singleProd.id"></span><br/>
            Name: <input ng-model="ctrl.singleProd.name" name="name"><br/>
            Price: <input ng-model="ctrl.singleProd.price" name="name"><br/>
            <button class="btn btn-success" type="submit">Update Product</button>
        </form>
    </div>
</div>