<div class="masthead">
    <h3 class="text-muted">Project name</h3>
    <nav>
        <ul class="nav nav-justified">
            <li><a ui-sref="app.products">Products</a></li>
            <li><a ui-sref="app.addProducts">Add products</a></li>
        </ul>
    </nav>
</div>
<div data-ng-controller="ProductCtrl as ctrl" ui-view>



</div>