#form-container {
    
    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    
    
    /*
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    */
    
    border: 1px solid #000;
    border-radius: 20px;
    width: 400px;
    box-shadow: 2px 2px 3px 3px #BBB;
    background: linear-gradient(#EEE, #AAA);
    
    text-align: center;
}

.heading {
      
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0px 0px 0px;
    font-family: "Segoe UI";
}

#clock {
    margin: 0px 0px 10px 0px;
    font-family: "Segoe UI";       
}

#response { margin: 10px 0px 0px; }

form { text-align: center; }
li {text-align: left;}

.input-actual input { width: 180px; }

.input-label, .input-actual, .priority-label, .priority-actual { float: left; margin: 5px; }
.clear { clear: both; }
.priority-actual input { width: 40px}

.input-label { width: 40px; text-align: right; }
.input-label label { vertical-align: middle; }

.input-container { display: inline-block;  }

.max-priority { color: red; }
.min-priority { color: gray; }

.removalTool { font-weight: bold; margin-left: 30px; }
.removalTool:hover { color: red; cursor: pointer; }