body {
    
    background-color: darkslategray;
    height: 2000px;
  
}

@media (max-width: 1000px) {
    body {
        background-color: darkred;
        height: 2000px;
    }
}
    



#header {
    width: 100%;
    color: white;
    position: fixed;
    border-bottom: 1px solid #000;
    background-color: darkslateblue;
    padding: 10px;
    font-weight: bold;
    left: 0;
    top: 0;
}

.static {
    
    width: 100%;
    left: 0;
    padding: 10px;
    background-color: red;
}

.relative {
    
    position: relative;
    width: 50%;
    height: 20%;
    padding: 10px;
    background-color: green;
}

.absolute {
    
    position: absolute;
    width: 100%;
    height: 30%;
    padding: 10px;
    background-color: blue;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
}

#lista li:first-child { font-weight: bold; }
#lista li:nth-child(3) { font-style: italic; color: blue; }
#lista li:last-child { color: red; }

#tabela tbody tr td { width: 20px; }
#tabela tbody .odd_row td:nth-child(odd) { background-color: white; }
#tabela tbody .odd_row td:nth-child(even) { background-color: black; }
#tabela tbody .even_row td:nth-child(odd) { background-color: black; }
#tabela tbody .even_row td:nth-child(even) { background-color: white; }