#para { font-size: 24px; color: #00F;  }

#pierwsza { font-size: 13px; color: #F00;}
#pierwsza h1 { font-weight: bold; }
#pierwsza div:nth-child(2) p { font-size: 5px; }

#styl1 { font-size: 10px; font-style: italic; font-family: 'Arial'; text-decoration: none; color: aqua; }
#styl2 { font-size: 7px; font-style: normal; font-family: sans-serif; text-decoration: line-through; color: blue; }
#styl3 { font-size: 13px; font-style: oblique; font-family: 'Calibri'; text-decoration: overline; color: darkred; }
#styl4 { font-size: 24px; font-style: normal; font-family: fantasy; text-decoration: underline; color: darkorange; }
#styl5 { font-size: 21px; font-style: normal; font-family: serif; text-decoration: none; color: deeppink; }
#styl6 { font-size: 12px; font-style: oblique; font-family: monospace; text-decoration: line-through; color: chartreuse; }
#styl7 { font-size: 32px; font-style: italic; font-family: 'Times New Roman'; text-decoration: none; color: darkgreen; }

#button {
    
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 10px; 
    border: 3px solid;
    background-color: grey;
    border-left-color: lightgray;
    border-top-color: lightgray;
    border-right-color: #606060;
    border-bottom-color: #606060;
    
}

#button:hover {

    border-left-color: #606060;
    border-top-color: #606060;
    border-right-color: lightgray;
    border-bottom-color: lightgray;
    
}