<!DOCTYPE html>
<html lang="en" data-ng-app="SdaApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Angular JS Test</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/bootstrap-theme.css.min.css" rel="stylesheet">

	<style>
        .bg-red {
            background-color: red;
        }
        .bg-blue {
            background-color: dodgerblue;
        }
        .bg-green {
             background-color: springgreen;
        }
		.bg-white {
             background-color: white;
        }

    </style>


</head>

<body ng-class="{'bg-red':isRed, 'bg-blue':isBlue, 'bg-green':isGreen, 'bg-white':isWhite}">

<div class="container">

    <!-- The justified navigation menu is meant for single line per list item.
         Multiple lines will require custom code not provided by Bootstrap. -->

 <!--   <div data-ng-controller="MainCtrl as ctrl">

        <span ng-show="ctrl.showVar" data-ng-bind="ctrl.testVar"></span><br/>


        <button data-ng-click="ctrl.add()">Change Var</button><br/>
        <button data-ng-click="ctrl.toggleVis()">Toggle</button><br/>

        <span ng-repeat="number in ctrl.numbers track by $index">
            <span ng-bind="number"></span><br/>
        </span>



    </div>-->
    <ui-view></ui-view>
    <!-- Example row of columns -->

    <!-- Site footer -->
    <footer class="footer">
        <p>&copy; 2015 Company, Inc.</p>
    </footer>
    <br/>
    <div class="row" ng-controller="ColorCtrl as cctrl">
        <div class="col-md-3">
            <a data-ng-click="cctrl.turnRed()">RED</a>
        </div>
        <div class="col-md-3">
            <a data-ng-click="cctrl.turnBlue()">BLUE</a>
        </div>
        <div class="col-md-3">
            <a data-ng-click="cctrl.turnGreen()">GREEN</a>
        </div>
		<div class="col-md-3">
            <a data-ng-click="cctrl.turnWhite()">WHITE</a>
        </div>

    </div>

</div> <!-- /container -->

<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.5.7/angular-locale_pl-pl.js"></script>
<script src="assets/js/ui-rooter.min.js"></script>
<script src="app/js/app.js"></script>
<script src="app/js/resource.js"></script>
<script src="app/js/factory.js"></script>
<script src="app/js/controllers.js"></script>
<script src="app/js/directives.js"></script>
<script src="app/js/filters.js"></script>
</body>
</html>
